:root {
    --night-primary: #14213d;
    --night-secondary: #e5e5e5;
    --tab-secondary: #d32f2f;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: var(--night-primary);
    background-image: url("milkyway.jpg");
    background-repeat: no-repeat; 
    background-size: cover;  
}

header {
    background-color: var(--night-primary);
    color: #e5e5e5;
    background-image: url("milkyway.jpg");
    background-repeat: no-repeat; 
    background-size: cover;  
}

body {
    background-color: var(--night-primary);
    color: var(--night-secondary);
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-image: url("./assets/images/milkyway.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
   }

.tabs-content {
    height: 700px;
}

#nasa {
    width: 100px;
    height: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-button {
    margin-bottom: 20px;
}



