:root {
    --night-primary: #14213d;
    --night-secondary: #e5e5e5;
    --tab-secondary: #d32f2f;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--night-primary);
    color: var(--night-secondary);
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
    color: #e5e5e5;
}

/* .tabs {
    .tab {
      a {
        color: $custom-color;
        &.active {color: $custom-color;}
        &:hover {color: $custom-color;}
        &:focus {
          background-color: rgba($custom-color, 0.1);
          &.active{
                      background-color: rgba($custom-color, 0.1);
                  }
        }
      }
    }
    .indicator {background-color: $custom-color;}
  } */

.tabs-content {
    height: 900px;
}