:root {
    --night-primary: #14213d;
    --night-secondary: #e5e5e5;
    --tab-secondary: #d32f2f;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--night-primary);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: var(--night-primary);
    color: #e5e5e5;
    padding-top: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Black Ops One', cursive;
}

body {
    background-color: var(--night-primary);
    color: var(--night-secondary);
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

h1 {
    margin: 0;
}

/* Styling for tabs */
.tabs-content {
    height: 700px;
}

#nasa {
    width: 100px;
    height: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#previous {
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 20px;
}

#upcoming {
    background-color: rgba(0, 255, 0, 0.5);
    border-radius: 20px;
}

#next {
    background-color: rgba(0, 0, 255, 0.5);
    border-radius: 20px;
}

.user-view {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

li {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img {
    width: 95%;
}

/* Styling for toggle switch */
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: red;

}

.switch label {
    color: var(--night-secondary);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 36px;
    height: 14px;
    background-color: var(--night-secondary);
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 16px;
}

.switch label .lever:after {
    background-color: var(--tab-secondary);
}



.switch label input[type=checkbox]:checked+.lever {

    background-color: var(--night-secondary);

}

/* Adjusting background images and bg holder for toggle */
.bg-image {
    background-image: url("../images/milkyway.jpg");
}

.custom-bg-color {
    background-color: var(--night-primary) !important;
}

.modal {
    background-size: cover;
}